body {
  margin: 20px;
  padding: 0;

}

.list {
  width: 350px;
  margin-top: 10px;
}

.listItem {
  display: flex;
  justify-content: space-between;

  color: #000;
}

.unfinished {
  background-color: rgba(220, 82, 74, 0.3);
}

.finished {
  background-color: rgba(37, 161, 98, 0.3);

}

.btn {
  cursor: pointer;
}